name: Check CML GitHub Action
on:
  schedule:
    - cron: 0 0 * * *
  pull_request:

permissions:
  contents: write
  issues: write

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          npm ci
          npm run build
          git diff --exit-code
  check:
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        system:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.system }}
    steps:
      - uses: actions/checkout@v3
      - run: npm ci
      - run: npm run lint
      - run: npm run test

      - name: local action with '0.14.0'
        uses: ./
        with:
          version: '0.14.0'

      - name: test CML specific version
        if: matrix.system != 'windows-latest'
        run: |
          if [ "$(cml --version 2>&1)" != '0.14.0' ]; then
            exit 1
          fi
          echo OK

      - name: local action with defaults
        uses: ./

      - name: test CML latest version
        if: matrix.system != 'windows-latest'
        run: |
          if [ "$(cml --version 2>&1)" == '0.14.0' ]; then
            exit 1
          fi
          echo OK

      - name: test CML
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo 'Hello CML from ${{ matrix.system }}!' > report.md
          cml comment create report.md
          cml check create report.md
